<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- FontAwesome CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Css -->
    <link rel="stylesheet" href="index.css">


</head>
<body>
    
      <nav class='navbar navbar-expand-md navbar-dark bg-dark navbar-spe'>
          <div class='container'>
            <a href='#' class='navbar-brand'>Osman Erol</a>
            <button class='navbar-toggler' data-toggle='collapse' data-target='#navbar'>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class='collapse navbar-collapse' id='navbar'>
                <ul class='navbar-nav ml-auto'>
                    <li class='nav-item'>
                        <a class='nav-link' href="#personal">Kişisel Bilgiler</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='#education'>Eğitim</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='#skills'>Yetenekler</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='#languages'>Yabancı Dil</a>
                    </li>
                </ul>
            </div>
          </div>
      </nav>

      <div class="container pb-4">
        <div class="part" id="personal">
            <div class="row">
                <div class="col-md-3 d-md-block d-none mx-auto">
                    <img src="./assets/photo.png" alt="picture" class="rounded img-fluid">
                </div>
                <div class="col-md-7 mx-auto">
                    <h3 class="title">Kişisel Bilgiler</h3>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <h5>Ad Soyad</h5>
                        </div>
                        <div class="col-8">
                            <p>Osman EROL</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5>Adres</h5>
                        </div>
                        <div class="col-8">
                            <p>Hürriyet Mahallesi Aralık Sokak Numara 3 Daire 2 Bahçelievler / İstanbul</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5>Telefon</h5>
                        </div>
                        <div class="col-8">
                            <p>0531 388 64 64</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5>Mail</h5>
                        </div>
                        <div class="col-8">
                            <p>osmanerol@ogr.iu.edu.tr</p>
                            <p>osmanerol98@outlook.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5>LinkedIn</h5>
                        </div>
                        <div class="col-8">
                            <a href="https://tr.linkedin.com/in/osman-erol-b8bb70150">OsmanErol/LinkedIn</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5>GitHub</h5>
                        </div>
                        <div class="col-8">
                            <a href="https://github.com/osmanerol">OsmanErol/Github</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="part" id="education">
                <div class="row">
                    <div class="col-md-11 mx-auto">
                        <h3 class="title">Eğitim</h3>
                        <hr>
                        <div class="row">
                            <div class="col-4">
                                <h5>Lisans</h5>
                            </div>
                            <div class="col-8">
                                <p>İstanbul Üniversitesi Cerrahpaşa Bilgisayar Mühendisliği </p> 
                                <h6> ( Ortalama: 3.51 / 4 ) </h6> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <h5>Lise</h5>
                            </div>
                            <div class="col-8">
                                <p>Akhisar Anadolu Öğretmen Lisesi </p> 
                                <h6> ( Ortalama: 84.37 / 100 ) </h6> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="part" id="skills">
                    <div class="row">
                        <div class="col-md-11 mx-auto">
                            <h3 class="title">Yetenekler (temel bilgi) </h3>
                            <hr>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-4">
                                    <img src="https://image.flaticon.com/icons/svg/1216/1216909.svg" alt="html5-icon">
                                    <h6 class="head">HTML5</h6>
                                </div>
                                <div class="col-lg-2 col-md-3 col-4">
                                    <img src="https://cdn4.iconfinder.com/data/icons/blackicon/54/css3_icon-512.png" alt="css3-icon">
                                    <h6 class="head">CSS3</h6>
                                </div>
                                <div class="col-lg-2 col-md-3 col-4">
                                    <img src="https://icons.iconarchive.com/icons/icons8/windows-8/512/Files-Js-icon.png" class="image" alt="js-icon">
                                    <h6 class="head">JavaScript</h6>
                                </div>
                                <div class="col-lg-2 col-md-3 col-4">
                                    <img src="https://cdn.onlinewebfonts.com/svg/img_193686.png" alt="bootstrap-icon" class="image">
                                    <h6 class="head">BootStrap</h6>
                                </div>
                                <div class="col-lg-2 col-md-3 col-4">
                                    <img src="https://www.pngrepo.com/download/78134/c-logo.png" alt="cp-icon" class="image">
                                    <h6 class="head">C++</h6>
                                </div>
                                <div class="col-lg-2 col-md-3 col-4">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS5mizyc4NezzrfmKsyKjZ01xFNoJp4jMJ1d0UQLf_UkWYsDi9f" alt="java-icon" class="image">
                                    <h6 class="head">Java</h6>
                                </div>
                                <div class="col-lg-2 col-md-3 col-4">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQE--U24c31kgG6-5deQaf6AVhDCrVSyfxn-C0ZHFAcSl2aAsCE" alt="nodejs-icon" class="image">
                                    <h6 class="head">NodeJS</h6>
                                </div>
                                <div class="col-lg-2 col-md-3 col-4">
                                    <img src="https://cdn0.iconfinder.com/data/icons/computers-and-development/432/database-512.png" alt="mysql-icon" class="image">
                                    <h6 class="head">MySQL</h6>
                                </div>
                                <div class="col-lg-2 col-md-3 col-4">
                                    <img src="https://cdn4.iconfinder.com/data/icons/logos-brands-5/24/mongodb-512.png" alt="mongodb-icon" class="image">
                                    <h6 class="head">MongoDB</h6>
                                </div>
                                <div class="col-lg-2 col-md-3 col-4">
                                    <img src="https://cdn.iconscout.com/icon/free/png-256/react-native-555397.png" class="image">
                                    <h6 class="head">ReactNative</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  

                <div class="part" id="languages">
                    <div class="row">
                        <div class="col-md-11 mx-auto">
                            <h3 class="title">Yabancı Dil</h3>
                            <hr>
                            <div class="row">
                                <div class="col-4">
                                    <h5>İngilizce</h5>
                                </div>
                                <div class="col-8">
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
      </div>

      <div class="footer-copyright bg-dark text-center text-white py-1">
          <h6>© 2020 Copyright:Osman Erol</h6>
      </div>

</body>
</html> 